# Esclude il file con le credenziali e le segnalazioni degli utenti
*.env
reports.json
reports.json.lock

# Esclude la cartella di Pyrogram se esiste
*.session
*.session-journal

# Esclude file temporanei e cartelle di sistema
.venv
__pycache__/
*.pyc
.DS_Store
backup.sh
